# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://docs.github.com/en/actions/publishing-packages/publishing-nodejs-packages

name: Node.js Package

on:
  release:
    types: [created]
  push:
    branches:
      - main
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20
          registry-url: 'https://registry.npmjs.org'
          
      - name: Set up Git user
        run: |
          git config --global user.name "daryl"
          git config --global user.email "lhtisgood@outlook.com"
      - name: Bump version (optional)
        run: npm version patch # 自动更新版本号
      - name: Commit changes
        run: |
          git add .
          git commit -m "Bump version" || echo "No changes to commit"
          git push origin main
          
      - run: npm publish
        env:
          NODE_AUTH_TOKEN: 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
